In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [3]:
data=pd.read_csv("./Data/student_data.csv")

In [4]:
data

   Hours  Score
0      1     52
1      2     57
2      3     65
3      4     70
4      5     75
5      6     80

In [5]:
X=data[["Hours"]]
y=data[["Score"]]

In [6]:
model=LinearRegression()

In [7]:
model.fit(X,y)
predicted_score=model.predict( X)

In [8]:
predicted_score

array([[52.28571429],
       [57.97142857],
       [63.65714286],
       [69.34285714],
       [75.02857143],
       [80.71428571]])

In [9]:
## evaluate
mae=mean_absolute_error(y,predicted_score)
mse=mean_squared_error(y,predicted_score)
rmse=np.sqrt(mse)

In [10]:
"MAE",mae

('MAE', 0.6666666666666643)

In [11]:
"MSE",mse

('MSE', 0.6285714285714282)

In [12]:
"RMSE",rmse

('RMSE', np.float64(0.7928249671720916))

In [13]:
new_hour=float(input())
new_value=pd.DataFrame([[new_hour]], columns=["Hours"])
new_prediction=model.predict(new_value)[0]
new_prediction

 7

array([86.4])

In [15]:
from sklearn.metrics import r2_score

r2 = r2_score(y,predicted_score)
print(r2)

0.9933776495672896